<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>采购订单</title>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
     <!--引入下拉列表框-->
    <link href="/bootstrap-3.3.7-dist/css/bootstrap-select.min.css" rel="stylesheet">
    <script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all">
</head>
<style>
    .form-control{
        height: 30px;
        width: 220px;

    }
    th{
        text-align: center;
    }
</style>
<body>

<div class="container  table table-hover" style="background-color: #ffffff;padding: 50px">

    <!--条件查询-->
    <form action="/Orde/all" method="get">
        <label>供货商</label>
        <select  class="selectpicker" name="supp_id">
            <option th:value="0">请选择</option>
            <option th:each="f:${su}"
                    th:value="${f.supp_id}"
                    th:text="${f.supp_name}"
                    th:selected="${f.supp_id==orde.supp_id}"></option>
        </select>
        <label>业务员</label>
        <select  class="selectpicker" name="oper_id">
            <option th:value="0">请选择</option>
            <option th:each="f:${op}"
                    th:value="${f.oper_id}"
                    th:text="${f.oper_name}"
                    th:selected="${f.oper_id==orde.oper_id}"></option>
        </select>
        <label >制单人：</label>
        <input type="text"   name="cbill" th:value="${orde.cbill}" style="height: 30px">
        <button type="submit" class="btn btn-default">查询</button>
    </form>
    <button class="btn btn-primary" onclick="batchDel()">批量删除</button>
    <button class="btn btn-primary" onclick="add()">新增</button>
    <div class="table-responsive">
        <table class="table table-hover " border="1px" cellpadding="1px" cellspacing="1px" >
            <thead style="text-align: center">
            <th><input type="checkbox" id="all">全选</th>
            <th>供货商</th>
            <th>业务员</th>
            <th>订货日期</th>
            <th>有效期日</th>
            <th>有效止日</th>
            <th>制单人</th>
            <th>操作</th>
            </thead>
            <tbody class=".table-striped .table-bordered" >
            <!-- class="active,success,info,warning,danger"代表不同的颜色-->
                <tr th:each="s:${ordes}" style="text-align: center">
                    <td>
                        <input type="checkbox" name="id[]" th:value="${s.po_id}">
                    </td>
                    <td th:text="${s.suppliers.supp_name}"></td>
                    <td th:text="${s.operator.oper_name}"></td>
                    <td th:text="${s.po_date}"></td>
                    <td th:text="${s.po_begain_date}"></td>
                    <td th:text="${s.pe_end_date}"></td>
                    <td th:text="${s.cbill}"></td>
                    <td>
                        <button id="goEdit" class="btn btn-info" th:onclick="'javascript:edit('+${s.po_id}+');'">编辑</button>
                        <button id="del" class="btn btn-danger" th:onclick="'javascript:del('+${s.po_id}+');'">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 新增信息的模态框 -->
<div class="modal fade" id="addEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalTitle">模态框（Modal）标题</h4>
            </div>
            <form id="teacherForm" class="form-horizontal" action="/Orde/add" method="post" enctype="multipart/form-data">
                <input id="po_id" name="po_id" type="hidden" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">供货商：</label>
                    <div class="col-sm-10">
                        <select  class="selectpicker" name="supp_id" id="supp_id" >
                            <option th:value="0">请选择</option>
                            <option th:each="f:${su}"
                                    th:value="${f.supp_id}"
                                    th:text="${f.supp_name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">业务员：</label>
                    <div class="col-sm-10">
                        <select  class="selectpicker" name="oper_id" id="oper_id" >
                            <option th:value="0">请选择</option>
                            <option th:each="f:${op}"
                                    th:value="${f.oper_id}"
                                    th:text="${f.oper_name}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="po_date" class="col-sm-2 control-label">订货日期：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control datetimepicker" id="po_date" name="po_date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="po_begain_date" class="col-sm-2 control-label">有效期日：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control datetimepicker" id="po_begain_date" name="po_begain_date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pe_end_date" class="col-sm-2 control-label">有效止日：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control datetimepicker" id="pe_end_date" name="pe_end_date">
                    </div>
                </div>  <div class="form-group">
                <label for="cbill" class="col-sm-2 control-label">制单人：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="cbill" name="cbill">
                </div>
            </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" >提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
<script src="/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
<script src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['layer', 'element', 'jquery'], function () {
        var $ = layer = layui.layer
            , element = layui.element,
            jquery = layui.jquery;
    })
    $('.datetimepicker').datetimepicker({
        minView: "month",
        format: "yyyy-mm-dd",
        language: 'zh-CN',
        autoclose:true
    });
    // 进入编辑页面前的请求,返回json
    function edit(id) {
        $.ajax({
            async: true,
            type: "POST",
            url: "/Orde/selectByid?id="+id,
            success: addData,
            error : function(msg) {
                alert(msg+"错误数据");
            },
            dataType : "json"
        });
    }
    // 查询成功后向模态框插入数据并开启模态框。data是返回的JSON对象
    function addData(data) {
        $("#po_id").val(data.po_id);
        $("#po_date").val(data.po_dates);
        $("#po_begain_date").val(data.po_begain_dates);
        $("#pe_end_date").val(data.pe_end_dates);
        $("#cbill").val(data.cbill);
        $("#supp_id").selectpicker('val',data.supp_id);//下拉框回显
        $("#oper_id").selectpicker('val',data.oper_id);
        $("#ModalTitle").text("修改订单信息");
        $("#teacherForm").attr("action","/Orde/upd");
        // 显示模态框
        $('#addEdit').modal('show');
    }
    //显示新增模态框
    function add() {
        $("#po_id").val("");
        $("#po_date").val("");
        $("#po_begain_date").val("");
        $("#pe_end_date").val("");
        $("#cbill").val("");
        $("#supp_id").selectpicker(0);
        $("#oper_id").selectpicker(0);
        $("#ModalTitle").text("新增订单信息");
        $("#teacherForm").attr("action","/Orde/add");
        // 显示模态框
        $('#addEdit').modal('show');
    }

    // 删除请求
    function del(id) {
        var r=confirm("确定删除吗");
        if (r==true){
            $.ajax({
                async: true,
                type: "GET",
                url: "/Orde/del?id="+id,
                success: function () {
                    location.href="/Orde/all";
                },
                error : function(msg) {
                    alert(msg+"错误数据");
                },
                dataType:"text"
            });
        }
    }
    //全选操作,选中属性对应“checked”和“selected”通常用prop设定
    $("#all").click(function () {
        if(this.checked){
            $(":checkbox[name='id[]']").prop("checked",true);
        }else {
            $(":checkbox[name='id[]']").prop("checked",false);
        }
    });
    //单选操作
    $(":checkbox[name='id[]']").click(function () {
        //列表总数量
        num=$(":checkbox[name='id[]']").length;
        //选中的数量
        nn=$(":checkbox[name='id[]']:checked").length;
        //设定全选框
        if(num==nn){
            $("#all").prop("checked",true);
        }else {
            $("#all").prop("checked",false);
        }
    });
    function batchDel() {
        var ids=new Array();
        num=$(":checkbox[name='id[]']:checked").length;
        if(num==0){
            alert('必须选中一行才可以删除！');

        }else {
            $.each($(":checkbox[name='id[]']:checked"),function (i,v) {
                ids[i]=this.value;
            });
            var r=confirm("确定删除吗");
            if (r==true){
                $.ajax({
                    url:"/Orde/batchDel",
                    type:"POST",
                    data:{ids:ids},
                    dataType:"text",
                    success:function(result){
                        alert("删除成功")
                        location.href="/Orde/all";
                    },
                    error:function(msg){
                        alert("删除失败")
                    }
                });

            }
        }
    }
</script>
</html>




