<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>库存信息</title>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
 <!--   <%&#45;&#45;    引入下拉列表框&#45;&#45;%>-->
    <link href="/bootstrap-3.3.7-dist/css/bootstrap-select.min.css" rel="stylesheet">
    <script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all">
</head>
<style>
    .form-control{
        height: 30px;
        width: 220px;
    }
    th{
        text-align: center;
    }
</style>
<body>

<div class="container  table table-hover" style="background-color: #ffffff;padding: 50px">

    <!--条件查询-->
    <form action="/Stock/all" method="get">
        <label>仓库名称</label>
        <select  class="selectpicker" name="depot_id">
            <option th:value="0">请选择</option>
            <option th:each="f:${depot}"
                    th:value="${f.depot_id}"
                    th:text="${f.depot_name}"
                    th:selected="${f.depot_id==stock.depot_id}"></option>
        </select>
        <label>商品</label>
        <select  class="selectpicker" name="comm_id">
            <option th:value="0">请选择</option>
            <option th:each="f:${com}"
                    th:value="${f.comm_id}"
                    th:text="${f.comm_name}"
                    th:selected="${f.comm_id==stock.comm_id}"></option>
        </select>
        <button type="submit" class="btn btn-default">查询</button>
    </form>
    <button class="btn btn-primary" onclick="add()">新增</button>
    <div class="table-responsive">
        <table class="table table-hover " border="1px" cellpadding="1px" cellspacing="1px" >
            <thead style="text-align: center">
            <th>仓库名称</th>
            <th>商品名称</th>
            <th>数量</th>
            <th>进价</th>
            <th>商品总价值</th>
            <th>商品规格</th>
            <th>商品产地</th>
            </thead>
            <tbody class=".table-striped .table-bordered" >
            <!-- class="active,success,info,warning,danger"代表不同的颜色-->
                <tr th:each="s:${stocks}" style="text-align: center">
                    <td th:text="${s.depot.depot_name}"></td>
                    <td th:text="${s.commodity.comm_name}"></td>
                    <td th:text="${s.amount}"></td>
                    <td th:text="${s.commodity.purchase_price}"></td>
                    <td th:text="${s.amount*s.commodity.purchase_price}"></td>
                    <td th:text="${s.commodity.comm_standard}"></td>
                    <td th:text="${s.commodity.comm_producing_area}"></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 新增信息的模态框 -->
<div class="modal fade" id="addEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalTitle">模态框（Modal）标题</h4>
            </div>
            <form id="teacherForm" class="form-horizontal" action="/Stock/add" method="post" enctype="multipart/form-data">
                <input id="st_id" name="st_id" type="hidden" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">仓库名称：</label>
                    <div class="col-sm-10">
                        <select  class="selectpicker" name="depot_id" id="depot_id" >
                            <option th:value="0">请选择</option>
                            <option th:each="f:${depot}"
                                    th:value="${f.depot_id}"
                                    th:text="${f.depot_name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品：</label>
                    <div class="col-sm-10">
                        <select  class="selectpicker" name="comm_id" id="comm_id" >
                            <option th:value="0">请选择</option>
                            <option th:each="f:${com}"
                                    th:value="${f.comm_id}"
                                    th:text="${f.comm_name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount" class="col-sm-2 control-label">商品数量：</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="amount" name="amount">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" >提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
<script src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['layer', 'element', 'jquery'], function () {
        var $ = layer = layui.layer
            , element = layui.element,
            jquery = layui.jquery;
    })
    //显示新增模态框
    function add() {
        $("#st_id").val("");
        $("#amount").val("");
        $("#depot_id").selectpicker(0);//下拉框回显
        $("#comm_id").selectpicker(0);
        $("#ModalTitle").text("新增库存信息");
        $("#teacherForm").attr("action","/Stock/add");
        // 显示模态框
        $('#addEdit').modal('show');
    }
</script>
</html>

